<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#datepicker" ).datepicker();
            } );
        </script>
        <meta charset="utf-8">
        <title>Textprocessor</title>
    </head>
    <body>
        <form action="" method="post">
            {{ form.csrf }}

            Pick a date:
            <br>
            <div>
                {{ form.date(type="text", id="datepicker", readonly=true) }}{{ form.source }}
            </div>
            <div class="input submit">
                <button id="execute" type="submit" value="Submit">Execute</button>
            </div>
        </form>
        <br>
        <br>
        <br>
        <div id="results-container">
            <div id="messages-container">
                <ul>
                {% if response %}
                    {% for key, value in response.iteritems() %}
                    <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                {% endif %}
                </ul>
                {% if message %}
                <p id="message">{{ message }}</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
